body{
    color: ghostwhite;
    background-color: rgb(2, 7, 46);
    margin: 0px;
}
header{
    border-bottom: solid 1px rgb(66, 66, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(66, 66, 247);
}
section{
    background-color: cadetblue;
}